@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff8dc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #333333 transparent;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@layer components {
  .primary-main {
    @apply w-screen min-h-screen flex flex-col justify-center items-center gap-12;
  }

  .primary-h1 {
    @apply text-5xl font-secondary mb-12;
  }

  .primary-button {
    @apply bg-primary-red text-primary-white shadow-2xl rounded-full flex items-center justify-center p-3 text-shadow;
  }

  .primary-input {
    @apply bg-primary-white text-primary-coal shadow-2xl rounded-full outline-none text-shadow p-3 hover:shadow-2xl;
  }

  .primary-form {
    @apply bg-primary-gray flex flex-col justify-center items-center rounded-2xl shadow-2xl p-12 gap-2;
  }

  .primary-icon {
    @apply primary-button rounded-full w-12 h-12 text-3xl shadow-2xl drop-shadow-2xl;
  }

  .primary-selected {
    box-shadow: 0 0 10px #ff851b, 0 0 20px #ff851b, 0 0 30px #ff851b,
      0 0 40px #ff851b;
    animation: glow 1s ease-in-out infinite;
  }
  .rectange {
    width: 200 px;
    height: 100 px;
    background: blue;
  }
  .simplifyYourMealPlanning{
    @apply text-2xl 
    -mt-28 
    sm:-mt-24 
    sm:text-5xl 
    sm:mb-24
    lg:text-7xl
    xl:-mt-24
    xl:-mb-0;
  }
  .navBar{
    @apply bg-black h-16 
    sm:h-24
    lg:h-36
    xl:h-24;
  }
  .landingPageImg{
    @apply shadow-2xl w-44 sm:w-80 lg:w-96 xl:w-80;
  }
  .textUnderLandingPageImg{
    @apply italic text-xs sm:text-2xl sm:mt-14;
  }
  .blackCircleBehindLogo
  {
    @apply bg-primary-coal 
    w-12 
    h-12
    sm:w-20
    sm:h-20
    lg:w-32
    lg:h-32
    xl:w-20
    xl:h-20;
  }
  .centerImage{
    @apply rounded-full shadow-2xl mt-8;
  }
  .personInsideCircle{
    @apply w-6
    h-6
    sm:w-10
    sm:h-10
    lg:w-16
    lg:h-16    
    xl:w-10
    xl:h-10;
  }
  .mealMateAILogo{
    @apply w-16
    h-16
    sm:h-24
    sm:w-24
    lg:w-36
    lg:h-36
    xl:h-24
    xl:w-24;
  }
  

  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 10px #ff851b, 0 0 20px #ff851b, 0 0 30px #ff851b,
        0 0 40px #ff851b;
    }
    50% {
      box-shadow: 0 0 20px #ff851b, 0 0 30px #ff851b, 0 0 40px #ff851b,
        0 0 50px #ff851b, 0 0 60px #ff851b;
    }
  }
}
