@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff8dc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #333333 transparent;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@layer components {
  .primary-button {
    @apply bg-primary-red text-primary-white shadow-2xl rounded-full flex items-center justify-center p-3 text-shadow;
  }

  .primary-input {
    @apply bg-primary-white text-primary-coal shadow-2xl rounded-full outline-none text-shadow p-3 hover:shadow-2xl;
  }

  .primary-form {
    @apply bg-primary-gray flex flex-col justify-center items-center rounded-2xl shadow-2xl p-12 gap-2;
  }

  .primary-icon {
    @apply primary-button rounded-full w-12 h-12 text-3xl;
  }

  .primary-selected {
    box-shadow: 0 0 10px #ff851b, 0 0 20px #ff851b, 0 0 30px #ff851b,
      0 0 40px #ff851b;
    animation: glow 1s ease-in-out infinite;
  }

  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 10px #ff851b, 0 0 20px #ff851b, 0 0 30px #ff851b,
        0 0 40px #ff851b;
    }
    50% {
      box-shadow: 0 0 20px #ff851b, 0 0 30px #ff851b, 0 0 40px #ff851b,
        0 0 50px #ff851b, 0 0 60px #ff851b;
    }
  }
}
